* {
  box-sizing: border-box;
}

:root {
  --bg: #000000;
  --color: #ffffff;
  --border: rgba(255, 255, 255, 0.5);
}

button {
  padding: 12px 8px;
  outline: none;
  border-radius: 8px;
  background: #d11245;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.user-details-sec {
  width: 30%;
  margin: auto;
}

.add-user-details-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-user-details-form input {
  padding: 8px;
}

.users {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.user {
  /* width: 80%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.5px #d11245;
  padding: 12px;
}
.user .user-details,
.user .update-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
}

.user .update-actions {
  gap: 18px;
}

.update-actions img {
  width: 16px;
  object-fit: contain;
}

.add-user-details-btn {
  text-transform: capitalize;
}

.project-name {
  color: #313131;
  cursor: pointer;
  transition: 200ms;
}

.project-name:hover {
  color: #d11245;
  text-decoration: underline;
  text-underline-offset: 8px;
}
